@charset "utf-8";

/*全体の設定
---------------------------------------------------------------------------*/
body {
  background: #fff;
  color: #333;
  margin: 0px;
  padding: 0px;
  font: 18px/2.0
  "YuGothic","メイリオ", Meiryo, "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";
}

html {
  font-size: 62.5%;/* 1rem=10px */
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  line-height: 1.3;
}

.sp {
  display: none;
}
.pc {
  display: block;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}


/* 見出し -----*/
h1 {
  font-size: clamp(3.6rem,4.8vw,5.6rem);
  font-weight: 700;
  margin-bottom: 2.5vw;
}

h2 {
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
}
h2 span {
  font-size: 2.4rem;
}

h3 {
  font-size: 2.4rem;
  font-weight: 700;
}

h4 {
  font-size: 2rem;
}
/* 見出し end-----*/


body > section:not(:first-child) {
  padding: clamp(5rem,10vw,10rem) clamp(10vw,12.5vw,15vw);
}
body > section:not(:first-child) > div {
  background-color: rgb(255, 255, 255,0.9);
  width: 100%;
  padding: 8vw 7vw;
}
body > section:not(:first-child) > div h2 {
  margin-bottom: 8vw;
}


/* top --------------------*/
#top {
  position: relative;
  width: 100%;
  padding-top: 54.6%;
  background-color: rgb(224, 255, 88,0.7);
}
#top::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  padding-top: 54.6%;
  background-color: #a2c8db;
}

#top .main-ttl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  white-space: nowrap;
  text-align: center;
  z-index: 1;
  width: fit-content;
}

#top .sub-ttl {
  position: relative;
  font-size: clamp(2rem,4.2vw,3.6rem);
  letter-spacing: 0.2em;
  padding: 0 calc(6vw + 1.5vw);
  width: fit-content;
  margin: 0 auto;
}
#top .sub-ttl::before,#top .sub-ttl::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 6vw;
  height: 0.1rem;
  background-color: #333;
}
#top .sub-ttl::before {
  left: 0;
}
#top .sub-ttl::after {
  right: 0;
}

#top nav {
  display: block;
  position: absolute;
  top: 3.5vw;
  right: 5vw;
  display: flex;
  gap: 4vw;
  font-size: clamp(2rem,2.6vw,3rem);
}
#top nav a,.slide-menu a {
  position: relative;
  padding-bottom: 0.3rem;
}
#top nav a::before,.slide-menu a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.15rem;
  background-color: rgb(51, 51, 51,0.4);
  transform-origin: center top;
  transform: scale(0,1);
  transition: all 0.3s;
}
#top nav a:hover::before,.slide-menu a:hover::before {
  transform-origin: center top;
  transform: scale(1,1);
}
.humburger-menu {
  display: none;
  width: clamp(3.5rem,6vw,12.3rem);
  height: clamp(3.5rem,6vw,12.3rem);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 5px 9.5px 0.5px rgba(0, 0, 0, 0.1);
}
.slide-menu {
  display: none;
}

.btn-down {
  position: absolute;
  top: 75%;
  left: 47%;
  transform: translateX(-50%);
  width: clamp(4rem,5.5vw,6rem);
  height: clamp(4rem,5.5vw,6rem);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 5px 9.5px 0.5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: floating 2.5s infinite;
}
.btn-down:hover {
  border: 0.1rem solid rgb(51, 51, 51,0.15);
}
@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
/* top end--------------------*/



/* about --------------------*/
/* profile --------------------*/
#profile {
  background-color: rgb(224, 255, 88,0.7);
}

.wrap-about > ul {
  display: flex;
  flex-direction: column;
  gap: clamp(2rem,4vw,3rem);
}
.wrap-about ul li:first-of-type {
  display: flex;
}


.name {
  display: flex;
  justify-content: center;
  gap: clamp(2rem,4vw,3rem);
}
.name ul {
  display: flex;
  justify-content: center;
  gap: clamp(1rem,2vw,3rem);
  white-space: nowrap;
}
.name li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.name li p:nth-of-type(1) {
  font-size: clamp(1.2rem,2.2vw,1.4rem);
}
.name li p:nth-of-type(2) {
  font-size: clamp(1.8rem,3vw,2.2rem);
}
.name img {
  width: 50%;
}


#profile .info-list {
  position: relative;
  display: flex;
  gap: 2.5vw;
  padding-left: calc(clamp(1.5rem,3vw,3rem) + 1.2vw);
}

#profile .info-list > p:nth-of-type(1)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: rgb(191, 217, 76);
  width: clamp(1rem,3vw,2rem);
  height: clamp(1rem,3vw,2rem);
  border-radius: 50%;
} 
.wrap-about .info-list:nth-of-type(3) p:first-of-type,.wrap-about .info-list:nth-of-type(4) p:first-of-type {
  padding-right: 2em;
}


.career-lists {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: clamp(2rem,4vw,3rem);
}

.career-list > p:first-child {
  position: relative;
  padding-left: clamp(2rem,4.2vw,7rem);
  margin-bottom: 1rem;
}
.career-list > p:first-child + p {
  padding-left: clamp(2rem,4.2vw,7rem);
}
.career-list > p:first-child::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: clamp(1rem,2vw,1.5rem);
  height: clamp(2rem,4.2vw,2.5rem);
  background-color: rgb(191, 217, 76);
} 
/* profile end--------------------*/


/* strength --------------------*/
.wrap-strength {
  margin-top: 8vw;
}

.wrap-strength h3 {
  position: relative;
  padding-left: calc(clamp(5rem,10vw,10rem) + 5vw);
}
.wrap-strength h3::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: clamp(4.5rem,9.5vw,8rem);
  height: clamp(4.5rem,9.5vw,8rem);
  background-color: rgb(191, 217, 76);
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(2rem,4.2vw,3.6rem);
  font-weight: 700;
}
.strength-list:nth-child(1) h3:before {
  content: "01";
}
.strength-list:nth-child(2) h3:before {
  content: "02";
}
.strength-list:nth-child(3) h3:before {
  content: "03";
}

.strength-lists {
  display: flex;
  flex-direction: column;
  gap: 7.5vw;
  margin-bottom: 8vw;
}

.wrap-strength p {
  margin-top: 3vw;
  padding-left: calc(clamp(5rem,10vw,10rem) + 5vw);
}
/* strength end--------------------*/
/* about end--------------------*/



/* vision --------------------*/
#vision {
  background-color: rgb(28, 95, 128,0.7);
}

#vision h3 {
  background-color: rgb(206, 230, 242);
  border-radius: 6rem;
  padding: 0.25em;
  width: fit-content;
  margin: 0 auto;
}
#vision h3 p {
  text-align: center;
  background-color: #fff;
  border-radius: 4.8rem;
  padding: 0.5em 1.5em;
  font-size: clamp(1.4rem,3vw,2.4rem);
}

#vision figure {
  position: relative;
  padding: 2.25vw 4.8vw 5vw;
  margin: 2.5vw auto;
}
#vision figure .inner-fig {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1.6vw;
  min-width: 2.4vw;
  height: 0.75vw;
  min-height: 1vw;
  background-color: #98c3d9;
  clip-path: polygon(0 0,100% 0,50% 100%);
}
#vision figure .outer-fig {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 4.8vw;
  min-width: 7.2vw;
  height: 2.25vw;
  min-height: 3vw;
  background-color: #98c3d9;
  clip-path: polygon(0 0,16.6% 0,50% 66.6%,83.3% 0,100% 0,50% 100%);
}

#vision .wrap-items {
  display: flex;
  flex-direction: column;
  gap: 10vw;
}
/* vision end--------------------*/



/* skill --------------------*/
#skill {
  background-color: rgb(127, 79, 47,0.7);
}
.skill-lists {
  display: flex;
  flex-direction: column;
  gap: 10vw;
}
.skill-list {
  display: flex;
  flex-direction: row;
  gap: 5vw;
}
.skill-list h3 {
  margin-bottom: 2vw;
}

#skill img {
  width: 7vw;
  height: 7vw;
}
/* skill end--------------------*/



/* works --------------------*/
#works {
  background-color: rgb(181, 181, 184,0.7);
}

.work-lists {
  display: flex;
  flex-direction: column;
  gap: 10vw;
}
.work-list {
  display: flex;
  flex-direction: column;
  gap: 0vw;
}

hr {
  width: 50%;
  margin: 0 auto;
  opacity: 0.3;
}

.preview-wrap {
  width: 80%;
  margin: 0 auto clamp(3rem,2.5vw,5rem);
}

li.tools {
  margin-left: auto;
}
.tools {
  display: flex;
  gap: 2.5vw;
  width: fit-content;
}
.tools img {
  width: 3.2vw;
  min-width: 1.5rem;
}

.work-list li  h4 {
  position: relative;
  padding-left: calc(clamp(1rem,3vw,2rem) + 1.5vw);
  margin-bottom: 2.5vw;
  white-space: nowrap;
}
.work-list li h4::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: rgb(138, 138, 141);
  width: clamp(1rem,3vw,1.8rem);
  height: clamp(1rem,3vw,1.8rem);
  border-radius: 50%;
}

.work-list li .sub-ttl {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5vw;
}
.work-list li .sub-ttl > div {
  margin-top: 0.5rem;
  width: 100%;
  height: 0.1rem;
  background-color: #333;
}

.work-list .sub-ttl + p {
  padding-left: calc(clamp(1rem,3vw,2rem) + 1.5vw);
}

#works .info-wrap li:not(:first-of-type) {
  margin-bottom: 3.5vw;
}

#works .btn-wrap {
  display: flex;
  justify-content: center;
  gap: 2.5vw;
  margin-top: 5vw;
}

#works .btn-wrap a {
  border: 0.1rem solid rgb(138, 138, 141);
  width: clamp(10em,29.7vw,31rem);
  white-space: nowrap;
  padding: clamp(0.5em,1.4vw,1em) 1em;
  text-align: center;
}
/* works end--------------------*/





/* 矢印 ----------*/
.arrow-to-bottom {
  margin: 0 auto;
  width: 0.6em;
  height: 0.6em;
  border-right: 0.1em solid #333;
  border-bottom: 0.1em  solid #333;
  transform: rotate(45deg);
  margin-top: -0.5rem;
}

.arrow-to-top {
  margin: 0 auto;
  width: 0.6em;
  height: 0.6em;
  border-top: 2px solid #333;
  border-left: 2px  solid #333;
  transform: rotate(45deg);
  margin-top: 0.5rem;
}


/* ボタン設定 ---------------*/
/* トップに戻る固定ボタン */
.btn-to-top {
  width: clamp(4rem,6vw,6rem);
  height: clamp(4rem,6vw,6rem);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 2px 2.85px 0.15px rgba(25, 38, 30, 0.2); 
  display: flex; 
  align-items: center;
  transform: scale(1,1);
  /* 位置設定 */
  position: fixed;
  bottom: 1rem;
  z-index: 10;
}
/* ホバーで1.05倍 */
.btn-to-top:hover {
  transform: scale(1.05,1.05);
}

/* トップに戻るボタン位置 */
#bottom-fixed {
  position: fixed;
  bottom: 1.5rem;
  right: 1rem;
  z-index: 5;
}



/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
  color: #555;
  text-decoration: none;
  cursor: pointer;
  display: block;
}

/* リンク範囲を親要素の大きさにする(子要素aに付ける) */
.whole {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent: 100%; /* テキスト非表示 */
  white-space: nowrap; /* テキスト非表示 */
  overflow: hidden; /* テキスト非表示 */
}

/* マウスオンした時の文字色 */
a:hover {
  color: rgba(154, 153, 153, 0.8);
}


/* メディアクエリ(レスポンシブ) ----------------------------------------*/

/* スマホ(画面幅599px以下) ------------------------------*/
@media screen and (max-width: 599px) {
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  body {
    font-size: 14px;
  }

  .sp {
    display: block;
  }
  .pc {
    display: none;
  }

  /* 見出し -----*/
  h1 {
    font-size: clamp(2rem,3vw,4rem);
    margin-bottom: 1vw;
  }

  h2 {
    font-size: 2.4rem;
  }
  h2 span {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  h4 {
    font-size: 1.4rem;
  }
  /* 見出し end-----*/

  
  body > section:not(:first-child) {
    padding: clamp(5rem,10vw,10rem) 7vw;
  }

  /* top -----*/
  #top .sub-ttl {
    font-size: clamp(1.4rem,3vw,2rem);
    padding: 0 calc(4vw + 1.5vw);
  }
  #top .sub-ttl::before,#top .sub-ttl::after {
    width: 4vw;
  }

  #top nav {
    gap: 4vw;
    font-size: clamp(1.6rem,3.3vw,1.8rem);
  }

  /* about -----*/
  .name {
    flex-direction: column-reverse;
    justify-content: center;
    gap: clamp(1rem,2vw,3rem);
    text-align: center;
  }

  /* 固定位置 */
  #top-fixed {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 5;
  }
  /* top end-----*/
}



/* スマホ(画面幅470px以下) ------------------------------*/
@media screen and (max-width: 470px) {

  body > section:not(:first-child) {
    padding: clamp(5rem,10vw,10rem) 5vw;
  }

  /* top -----*/
  #top nav {
    display: none;
  }

  /* humburger-menu ---*/
  .humburger-menu {
    display: block;
    width: clamp(4rem,6vw,12.3rem);
    height: clamp(4rem,6vw,12.3rem);
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 5px 9.5px 0.5px rgba(0, 0, 0, 0.1);
  }
  .humburger-menu div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 0.15rem;
    background-color: rgb(51, 51, 51,0.5);
    transition: all 0.3s;
  }
  .humburger-menu div:nth-child(1) {
    top: 33%;
  }
  .humburger-menu div:nth-child(2) {
    top: 49.5%;
  }
  .humburger-menu div:nth-child(3) {
    top: 66%;
  }
  .humburger-menu:hover {
    opacity: 0.9;
  }

  /* .humburger-menuクリック時のline */
  .humburger-menu.active div:nth-child(1) {
    top: 50%;
    left: 30%;
    transform: rotate(-45deg);
  }
  .humburger-menu.active div:nth-child(2) {
    opacity: 0;
  }
  .humburger-menu.active div:nth-child(3) {
    top: 50%;
    left: 30%;
    transform: rotate(45deg);
  }
  
  /* humburger-menuクリックで表示 */
  .slide-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100vw;
    height: clamp(6rem,6vw,13.3rem);
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    transform: translateX(100%);
    transition: all 0.6s;
    opacity: 0;
    display: flex;
    justify-content: center;
    gap: 7vw;
    padding: 0 calc(clamp(4rem,6vw,12.3rem) + 7.5vw) 0 0;
  }
  
  .slide-menu.active {
    transform: translateX(0);
    opacity: 1;
  }
  /* humburger-menu end-----*/
  /* top end-----*/

  /* about -----*/
  .name img {
    min-width: 15rem;
  }
    
  /* strength -----*/
  .wrap-strength h2 {
    padding-bottom: 2.5vw;
  }
  .wrap-strength h3 {
    padding: clamp(7rem,10vw,10rem) 0 0;
    margin: 0 auto;
    width: fit-content;
    text-align: center;
  }
  .wrap-strength h3::before {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .wrap-strength p {
    padding-left: 0;
  }
  /* strength end-----*/


  /* works -----*/
  .work-list li  h4 {
    white-space: normal;
  }
  li.tools {
    margin-left: 0;
    margin-right: auto;
  }
  .work-list li .sub-ttl > div {
    display: none;
  }
      
  #works .btn-wrap {
    flex-direction: column;
    margin: 7.5vw auto 0;
  }

  #works .btn-wrap a {
    width: 85%;
    margin: 0 auto;
  }
  /* works end-----*/

}